.start-panel {
    display: grid;  
    grid-template-columns:50px 170px 1fr;

}
.start-panel__icons {
 display: grid;
 grid-template-columns: repeat(auto);


}


.start-panel__grid {
    display: grid;
    grid-template-areas: "grid";
    grid-template-columns: repeat(3,200px);
    grid-area: "grid grid ." ;
    grid-auto-rows: auto;

}

.apps--office {
    display: grid;
    grid-template-rows: 50px;
    
}
.apps--web {
    display: grid;

}
.apps--other {
    display: grid;
    

}
.apps__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}


.app--g2x2 {

}
.app--g2x1 {

}
.app--g1x2 {

}
.app--off-3 {

}
.app--off-4 {

}
.app--off-5 {

}
.app--in-3 {

}
.app--fun-2 {

}
.app--fun-3 {

}
